@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");
body {
	box-sizing: border-box;
	padding: 30px 0 0 0;
	font-family: "Marck Script", cursive;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}
.images {
	max-width: 1000px;
	margin: 0 auto;
}
.images img {
	max-width: 1000px;
	border-radius: 100px;
	margin: 0 0 30px 0;
}
.text {
	font-size: 30px;
	padding: 30px;
	margin: -550px 0 150px 0;
	color: blueviolet;
}
h1 {
	font-size: 70px;
	color: blueviolet;
	text-align: center;
	margin: -350px 0 300px 400px;
}

h2 {
	font-size: 35px;
	color: blueviolet;
	text-align: center;
}
.block {
	background-color: pink;
}
.block_2,
.block_2_1,
.block_3,
.block_4,
.block_5,
.present {
	visibility: hidden;
}
.block_1 {
	width: 100px;
	height: 200px;
}
.block_1_2 {
	width: 200px;
	height: 70px;
}
.block_2 {
	height: 70px;
	margin: -70px 0 0 0;
}
.block_2_1 {
	height: 300px;
	width: 60px;
	margin: -60px 0 0 auto;
}
.block_3 {
	height: 50px;
	margin: -50px 0 0 auto;
}
.block_4 {
	width: 40px;
	height: 100px;
	margin: 0 auto 0 0;
}
.block_5 {
	width: 30px;
	height: 50px;
	background-color: red;
}

.block_2:hover,
.block_2_1:hover,
.block_3:hover,
.block_4:hover,
.block_5:hover,
.present:hover {
	visibility: visible;
}
.block_1:hover + div {
	visibility: visible;
}
.block_1_2:hover + div {
	visibility: visible;
	opacity: 0;
}

.block_2:hover + div {
	visibility: visible;
}
.block_2_1:hover + div {
	visibility: visible;
	opacity: 0;
}
.block_3:hover + div {
	visibility: visible;
}
.block_4:hover + div {
	visibility: visible;
}
.block_5:hover + div {
	visibility: visible;
}
